<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Car Comparison</title>
</head>
<body ng-app="carComparisonApp">
    <div class="search">
        @RenderBody()
    </div>

    <link rel="stylesheet" type="text/css" href="~/client/stylesheets/main.css">

    <script src="client/javascripts/vendor/bower_components/angular/angular.min.js"></script>
    <script src="client/javascripts/angular/services/carService.js"></script>
    <script src="client/javascripts/angular/controllers/results.js"></script>
    <script src="client/javascripts/angular/controllers/filters.js"></script>
    <script src="client/javascripts/angular/modules/app.js"></script>
    <script src="client/javascripts/vendor/tympanus/classie.js"></script>
    <script src="client/javascripts/vendor/tympanus/modernizr.custom.js"></script>
    <script src="client/javascripts/site.js"></script>
</body>

</html>
