<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Car Comparison</title>
</head>
<body ng-app="carComparisonApp">
    @RenderBody()

    <link rel="stylesheet" type="text/css" href="~/client/stylesheets/main.css">

    <script src="client/javascripts/vendor/bower_components/angular/angular.min.js"></script>
    <script src="client/javascripts/angular/services/carService.js"></script>
    <script src="client/javascripts/angular/controllers/results.js"></script>
    <script src="client/javascripts/angular/modules/app.js"></script>
</body>
</html>
