<div ng-controller="resultsCtrl">

    {{selectedManufacturers}}

    {{filerManufacturers}}
    <div class="container">
        <div ng-repeat="manufacturer in manufacturers" class="row">
            <input type="checkbox" ng-model="carFilter.manufacturers[manufacturer.id]">{{manufacturer.name}} 
        </div>
    </div>

    <div class="container">
        <div ng-repeat="car in cars | filter:isFiltered" class="row">
            <div class="col">
                {{car.manufacturer.name}} {{car.model.name}}
            </div>
        </div>
    </div>
</div>
